<?xml version="1.0" encoding="UTF-8" standalone="no"?><plugin>
    <id>com.fr.plugin.function.finance</id>
    <name><![CDATA[财务函数插件]]></name>
    <active>yes</active>
    <version>1.0</version>
    <env-version>10.0</env-version>
    <jartime>2020-04-01</jartime>
    <vendor>yanghui</vendor>
    <description><![CDATA[可以实现Excel中的财务公式]]></description>
    <change-notes><![CDATA[
      [2020-07-13]初始化插件。<br/>
    ]]></change-notes>
<!--    <extra-core>-->
<!--        <FunctionDefineProvider class="com.fr.plugin.XIRR" name="xirr" description="不定期和不定金额年化收益率计算XIRR：第一个参数现金流；第二个对应还款日期列表"/>-->
<!--        <LocaleFinder class="com.fr.plugin.FinanceFinder"/>-->
<!--    </extra-core>-->
<!--    <extra-core>-->
<!--        <FunctionDefineProvider class="com.fr.plugin.IRR" name="irr" description="内部收益率IRR：现金流"/>-->
<!--        <LocaleFinder class="com.fr.plugin.FinanceFinder"/>-->
<!--    </extra-core>-->
<!--    <extra-core>-->
<!--        <FunctionDefineProvider class="com.fr.plugin.PMT" name="pmt" description="包含本金和利息的付款额PMT：第一个参数为年利率，第二个参数为贷款期数，第三个参数为贷款金额取负"/>-->
<!--        <LocaleFinder class="com.fr.plugin.FinanceFinder"/>-->
<!--    </extra-core>-->
<!--    <extra-core>-->
<!--        <FunctionDefineProvider class="com.fr.plugin.Rate" name="rate" description="贷款月利率RATE：第一个参数为贷款期数，第二个参数为每期金额，第三个参数为总贷款金额取负"/>-->
<!--        <LocaleFinder class="com.fr.plugin.FinanceFinder"/>-->
<!--    </extra-core>-->
<!--    <extra-core>-->
<!--        <FunctionDefineProvider class="com.fr.plugin.PV" name="pv" description="投资的现值PV：参数1为利率，参数2为总期数，参数3为每期付款金额，参数4未来值fv，参数5付款时间是在期初还是期末，前三个参数必填，后面两个选填"/>-->
<!--        <LocaleFinder class="com.fr.plugin.FinanceFinder"/>-->
<!--    </extra-core>-->
<!--    <extra-core>-->
<!--        <FunctionDefineProvider class="com.fr.plugin.FV" name="fv" description="计算投资价值的函数FV：参数1为利率，参数2为总期数，参数3为每期付款金额，参数4现值pv，参数5每期付款时间是在期初还是期末，前三个参数必填，后面两个选填"/>-->
<!--        <LocaleFinder class="com.fr.plugin.FinanceFinder"/>-->
<!--    </extra-core>-->
<!--    <extra-core>-->
<!--        <FunctionDefineProvider class="com.fr.plugin.NPV" name="npv" description="使用贴现率和一系列未来支出（负值）和收益（正值）来计算一项投资的净现值NPV：参数1为利率，参数2为现金流，按正确的顺序输入支出值和收益值"/>-->
<!--        <LocaleFinder class="com.fr.plugin.FinanceFinder"/>-->
<!--    </extra-core>-->
<!--    <extra-core>-->
<!--        <FunctionDefineProvider class="com.fr.plugin.NPER" name="nper" description="基于固定利率及等额分期付款方式，返回某项投资的总期数NPER：参数1为各期利率，参数2为每期付款金额，参数3为现值pv，参数4未来值fv，参数5付款时间是在期初还是期末，前三个参数必填，后面两个选填"/>-->
<!--        <LocaleFinder class="com.fr.plugin.FinanceFinder"/>-->
<!--    </extra-core>-->
<!--    <extra-core>-->
<!--        <FunctionDefineProvider class="com.fr.plugin.IPMT" name="ipmt" description="基于固定利率及等额分期付款方式，返回给定期数内对投资的利息偿还额函数IPMT：参数1为各期利率，参数2为用于计算其利息数额的期数，参数3为总期数，参数4现值pv，参数5未来值fv，参数6付款时间是在期初还是期末，前四个参数必填，后面两个选填"/>-->
<!--        <LocaleFinder class="com.fr.plugin.FinanceFinder"/>-->
<!--    </extra-core>-->
<!--    <extra-core>-->
<!--        <FunctionDefineProvider class="com.fr.plugin.PPMT" name="ppmt" description="PPMT函数返回根据定期固定付款和固定利率而定的投资在已知期间内的本金偿付额：参数1为利率，参数2为期数，参数3为总期数，参数4现值pv，参数5为未来值fv,参数6付款时间是在期初还是期末，前四个参数必填，后面两个选填"/>-->
<!--        <LocaleFinder class="com.fr.plugin.FinanceFinder"/>-->
<!--    </extra-core>-->

    <extra-core>
        <FunctionGroup class="com.fr.plugin.FinanceGroup" />
        <LocaleFinder class="com.fr.plugin.FinanceFinder"/>
    </extra-core>

    <function-recorder class="com.fr.plugin.XIRR"/>
<!--    <function-recorder class="com.fr.plugin.IRR"/>-->
<!--    <function-recorder class="com.fr.plugin.PMT"/>-->
<!--    <function-recorder class="com.fr.plugin.Rate"/>-->
<!--    <function-recorder class="com.fr.plugin.PV"/>-->
</plugin>